.navbar {
    font-size: large;
}

.menu-link {
    margin-left: 10px;
}

.home {
    padding-top: 150px;
    max-width: 1200px;
    width: 100%;
    font-size: large;
    margin: auto;
}

.home:after {
    content: "";
    display: table;
    clear: both;
}

.home-about {
    text-align: left;
    max-width: 1200px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto;
    font-size: large;
}

.home-portrait {
    width: 100%;
    text-align: center;
    clip-path: circle();
    margin-left: 50px;
}

.home-me {
    margin-top: 50px;
    margin-right: 100px;
    width: 100%;
    vertical-align: middle;
    text-wrap-style: pretty;
}


@media (min-width:1200px) {
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .home-title {
        font-size: xx-large;
        text-align: center;
    }

    .home-me {
        margin-top: 50px;
        width: 70%;
        min-width: 700px;
        vertical-align: middle;
    }
}

h1.home-title {
    font-size: xx-large;
    text-align: center;
    word-wrap: break-word;
}

.home-email {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.home-socials{
    margin-bottom: 50px;
    text-align: center;
}

.home-section-title{
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
}

.home-section {
    text-align: left;
    margin-left: 50px;
}

html.dark .home-section strong {
    color: #d9d9d9;
}

html.dark .home-section em {
    color: #b3b3bd;
}

.home-about {
    max-width: 1200px;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
}


html.dark a {
    color:#a3edff;
}

html.dark a.social-icon {
    color: white;
}

html.light a {
    color: black;
}

html.dark a.social-icon {
    color: white;
}