.home-description {
    text-align: left;
}

.home-portrait {
    float:left;
    margin-right:30px;
}

h1.home-title {
    font-size: xx-large;
    text-align: center;
}

.home-email {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.home-socials{
    margin-bottom: 50px;
}