{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}

<link rel="stylesheet" href="{{ .Site.Params.home_css | absURL }}">

<main aria-role="main">
        <div class="home">
            <div class="home-portrait">
                <img src="{{ .Site.Params.Portrait.Path | absURL }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            </div>
            
            <div class="home-me">
                <h1 class="home-title">{{ .Site.Title }}</h1>
                
                <div class="home-email">
                    guillaume dot coiffier at uclouvain dot be
                </div>
                
                {{- with .Site.Params.social }}
                <div class="home-socials">
                    {{ partial "social-icons.html" . }}
                </div>
                {{- end }}
            </div>
        </div>

        <div class="home-about"> 
            {{ .Content }}
        </div>

        <hr>
</main>
{{ end }}
