{{ define "main" }}

{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1 class="paper-title">{{ .Title }}</h1>
        
        {{ if .Content }}
        <div class="content">{{ .Content }}</div>
        {{ end }}
        
        {{ range $paginator.Pages.GroupByDate "2006" }}
        <div class="paper-list-group">
            <div class="paper-list-year">{{ .Key }}</div>            
            <hr/>
                <ul class="paper-list">
                    {{ range .Pages }}
                    <li class="paper-container">    
                        <figure class="paper-thumbnail">
                            <a href="{{.Permalink}}">
                                <img src="{{ .Params.thumbnail | absURL }}" />
                            </a>
                        </figure> 
                        <div class="paper-info">
                            <a href="{{.Permalink}}" class="paper-list-title">
                                {{.Title}}
                            </a>
                            <br>
                            <a class="paper-list-author"> {{.Params.Authors }} </a> 
                            <!-- <br>
                            <a class="paper-list-published"> {{.Params.published_where}}</a> -->
                            <div class="paper-list-buttons">
                                {{ if .Params.pdf}} 
                                <a style="padding:10px;"> 
                                    <a class="paper-button" href={{.Params.pdf}}> pdf </a>
                                </a> 
                                {{ end }}
                                {{ if .Params.doi}} 
                                <a style="padding:10px;"> 
                                    <a class="paper-button" href={{.Params.doi}}> doi </a> 
                                </a>
                                {{ end }}
                                {{ if .Params.supplemental}} 
                                <a style="padding:10px;"> 
                                    <a class="paper-button" href={{.Params.supplemental}}> supplemental </a> 
                                </a>
                                {{ end }}
                                {{ if .Params.code}}
                                <a style="padding:10px;"> 
                                    <a class="paper-button" href={{.Params.code}}> code </a> 
                                </a>
                                {{ end }}
                            </div>
                        </div>
                    </li>    
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
