{{ define "main" }}

<link rel="stylesheet" href="{{ .Site.Params.publication_css | absURL }}">
<link rel="stylesheet" href="{{ .Site.Params.figure_css | absURL }}">

{{ if .Param "math" }}
    {{ partialCached "math.html" . }}
{{ end }}

<main class="post">
        <div class="post-info">
            {{ if .IsTranslated }}
                {{ i18n "postAvailable" }}
                {{ range .Translations }}
                    <a href="{{ .Permalink }}"><span class="flag fi fi-{{ index $.Site.Data.langFlags (.Lang) }}"></span></a>
                {{ end}}
            {{ end }}
            </p>
        </div>

        <article>
            <h1 class="paper-title"> {{ .Title | markdownify }} </h1>

            <div class="paper-author">
                {{ .Params.authors}}
			</div>

            <div class="published">
                {{ if .Params.published_where}} <a class="paper-published"> {{ .Params.published_where }}</a>,{{ end }}
                {{ if .Params.published_date}} <a> {{ .Params.published_date }}</a> {{ end }}
            </div>
            
            {{ if .Params.award }}
            <div class="paper-award">
                🏆 {{ .Params.award }}
            </div>
            {{ end }}

            {{ if .Params.Cover }}
                <figure class="paper-cover">
                    <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />
                
                    {{ if .Params.CoverCaption }}
                        <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}
            
            <div class="paper-links">
                {{ if .Params.web }}
                <a style="padding:10px;"> 
                    <a class="paper-button" href={{.Params.web}}> web </a>
                </a>
                {{ end }}

                {{ if .Params.pdf}} 
                <a style="padding:10px;"> 
                    <a class="paper-button" href={{.Params.pdf}}> pdf </a>
                </a> 
                {{ end }}
                
                {{ if .Params.doi}} 
                <a style="padding:10px;"> 
                    <a class="paper-button" href={{.Params.doi}}> doi </a> 
                </a>
                {{ end }}
                
                {{ if .Params.poster}} 
                <a style="padding:10px;"> 
                    <a class="paper-button" href={{.Params.poster}}> poster </a>
                </a> 
                {{ end }}

                {{ if .Params.supplemental}} 
                <a style="padding:10px;"> 
                    <a class="paper-button" href={{.Params.supplemental}}> supplemental </a> 
                </a>
                {{ end }}
                
                {{ if .Params.code}}
                <a style="padding:10px;"> 
                    <a class="paper-button" href={{.Params.code}}> code </a> 
                </a>
                {{ end }}

                {{ if .Params.slides}}
                <a style="padding:10px;"> 
                    <a class="paper-button" href={{.Params.slides}}> slides </a> 
                </a>
                {{ end }}

                {{ if .Params.video }}
                <a style="padding:10px;"> 
                    <a class="paper-button" href={{.Params.video}}> video </a> 
                </a>
                {{ end }}
            </div>
			
        
        <hr />
        {{ if .Params.abstract}}
        <div class="paper-abstract">
            {{ .Params.abstract }}
        </div>
        {{ end }}
        
        <hr />
        {{ if .Params.toc}}
            <div class="paper-toc">
                {{ .TableOfContents }}
            </div>
        <hr />
        {{ end }}
            
        <div class="paper-content">
            {{ .Content }}
        </div>
        
        </article>

        <div class="post-info">
            {{ partial "tags.html" .Params.tags }}
            {{ partial "categories.html" . }}

            {{- if .GitInfo }}
			    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg><a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a> @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}</p>
			{{- end }}
  		</div>
    </main>
{{ end }}
